body{
    font-family: 'Lora';
    background-image: url('../img/background.jpg');
}

.glass {
  padding: 10px 0;
  border-bottom: 1px solid;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.glass span, h1  {
  color: rgba(0, 0, 0, 0.7);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
}
.glass input, button, select {
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.6);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
}

.settings {
    position: absolute;
    top: 0px;
    right: 0px;
    color: rgba(0, 0, 0, 0.1);
}
.settings:hover {
    color: rgba(0, 0, 0, 0.4);
}