<div style="height:100%;">
	<div class="w3-row" style="height:80px;margin-top:5px;">
		<div class="w3-col s1 l3">&nbsp;</div>
		<div class="w3-col s10 l6" w3-center></div>
		<div class="w3-col s1 l3">&nbsp;</div>
	</div>
	<div class="w3-row">
		<div class="w3-col s1 l3">&nbsp;</div>
		<div class="w3-col s10 l6 w3-center glass" >
			<div style="font-size: 100px;">
                <span>{{lover1}}</span>
				<span><img src="img/heart.png" style="max-width:100%;max-height:100px;display:inline; margin:auto;"></span>
				<span>{{lover2}}</span>
            </div>
			<div style="margin-top: -20px; font-size: 200px;"><span>{{days}}</span></div>
			<div style="font-size: 50px;"><span>Days</span></div>
		</div>
		<div class="w3-col s1 l3"><i class="settings w3-xxxlarge glyphicon glyphicon-cog" ng-click="OnSettingClick()"></i></div>
	</div>
</div>