<div style="height:100%;">
	<div class="w3-row" style="height:80px;margin-top:5px;">
		<div class="w3-col s1 l3">&nbsp;</div>
		<div class="w3-col s10 l6" w3-center></div>
		<div class="w3-col s1 l3">&nbsp;</div>
	</div>
	<div class="w3-row">
		<div class="w3-col s1 l2">&nbsp;</div>
		<div class="w3-col s10 l8 w3-center glass" >
			<div style="font-size: 7vw;">
                <span>{{lover1}}</span>
				<span><img src="img/heart.png" style="max-width:10vw;display:inline; margin:auto;"></span>
				<span>{{lover2}}</span>
            </div>
			<div style="margin-top: -20px; font-size: 12vw;"><span>{{days}}</span></div>
			<div style="font-size: 5vw;"><span>Days</span></div>
		</div>
		<div class="w3-col s1 l2"><i class="settings w3-xxxlarge glyphicon glyphicon-cog" ng-click="OnSettingClick()"></i></div>
	</div>
</div>