<div style="height:100%;font-size: 70px; font-family: 'Dynalight'; background-color:#ffd9ee;">
	<div class="w3-row" style="margin-top:20px;">
		<div class="w3-col s1 l3">&nbsp;</div>
		<div class="w3-col s10 l6" w3-center>
			Welcome to Papa and baby
		</div>
		<div class="w3-col s1 l3">&nbsp;</div>
	</div>
	<div class="w3-row" style="height:100%;font-size: 30px; font-family: 'Dynalight';">
		<div class="w3-col s1 l3">&nbsp;</div>
		<div class="w3-col s10 l6 w3-center">
			<form class="w3-container">
				Lovers
				<input class="w3-input" type = "text" ng-model="iLover1"></input>
				<input class="w3-input" type = "text" ng-model="iLover2"></input>

				Start day
				<input class="w3-input" type = "date" ng-model="iStartDate"></input>

				<input class="w3-input" type = "button" value = "Continue" id = "bContinue"></input>
			</form>
		</div>
		<div class="w3-col s1 l3">&nbsp;</div>
	</div>
</div>