<div style="height:100%;font-size: 40px;">
	<div class="w3-row" style="height:60px;">
		<div class="w3-col s1 l3">&nbsp;</div>
		<div class="w3-col s10 l6 w3-center">
			&nbsp;
		</div>
		<div class="w3-col s1 l3">&nbsp;</div>
	</div>
	<div class="w3-row" style="font-size: 30px;">
		<div class="w3-col s1 l3">&nbsp;</div>
		<div class="w3-col s10 l6 w3-center glass">
			<h1>Welcome to Papa and baby</h1>
			<form name = "fInputs" class="w3-container">
				<span>Lovers</span>
				<input name = "iLover1" class="w3-input" type = "text" ng-model="iLover1" maxlength="40" required style="margin-bottom: 10px;"/>
				<input name = "iLover2" class="w3-input" type = "text" ng-model="iLover2" maxlength="40" required style="margin-bottom: 10px;"/>

				<span>Start day</span>
				<dateinputdir class = "w3-margin" date = "date"/>
				<input class = "w3-input" type = "button" value = "Continue" id = "bContinue" 
					ng-disabled="date=='Invalid Date' || !fInputs.iLover1.$valid || !fInputs.iLover2.$valid"/>
			</form>
		</div>
		<div class="w3-col s1 l3">&nbsp;</div>
	</div>
</div>